/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/global.scss */
.page-title {
  text-indent: -9999em;
  background: url("../assets/images/logo-stacked.png") no-repeat center center;
  margin: 0 auto 2em;
  width: 200px;
  height: 100px;
}

/* line 9, ../sass/global.scss */
.section-header {
  margin-bottom: 2em;
  font-size: 1em;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 4px;
  opacity: .6;
  text-align: center;
}

/* line 20, ../sass/global.scss */
footer {
  padding: 2em 12.5%;
  border-top: 1px solid #333;
  background: #666;
}
/* line 25, ../sass/global.scss */
footer dl {
  overflow: hidden;
  *zoom: 1;
}
/* line 28, ../sass/global.scss */
footer dl dt {
  float: left;
  font-family: "proxima-nova";
  color: #fff;
  font-weight: 100;
  padding-top: 10px;
}
/* line 35, ../sass/global.scss */
footer dl dd {
  float: right;
  background: #ccc;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  text-indent: -9999em;
  display: inline-block;
}

/* line 47, ../sass/global.scss */
section {
  padding: 2em 15%;
  font-family: 'proxima-nova', helvetica, arial;
  font-size: 1.2em;
}

/* line 53, ../sass/global.scss */
.access {
  display: none;
}

/* line 1, ../sass/home.scss */
#intro {
  background: url("../assets/images/raleigh-orange.jpg") no-repeat center;
  background-size: cover;
  font-size: 3em;
  line-height: 1.4em;
  border-bottom: 1px solid #ddd;
  font-weight: 300;
}

/* line 10, ../sass/home.scss */
#about {
  padding-top: 6em;
  padding-bottom: 6em;
  overflow: hidden;
  *zoom: 1;
}
/* line 15, ../sass/home.scss */
#about .about-text {
  line-height: 1.4em;
  font-size: 1.2em;
  font-weight: 200;
  margin: 0 auto;
}
/* line 21, ../sass/home.scss */
#about .about-text p + p {
  margin-top: 2em;
}
/* line 26, ../sass/home.scss */
#about dl {
  margin-top: 6em;
  padding-top: 1em;
  float: left;
  width: 50%;
}
/* line 32, ../sass/home.scss */
#about dl img {
  width: 33%;
  margin-right: 5%;
  float: left;
  margin-top: -1em;
}
/* line 39, ../sass/home.scss */
#about dl dt {
  font-weight: 400;
}
/* line 43, ../sass/home.scss */
#about dl .job-title {
  color: #aaa;
  font-weight: 100;
  font-size: .8em;
  margin: .25em 0 1em;
}
/* line 50, ../sass/home.scss */
#about dl .skill {
  font-size: .8em;
  line-height: 1.2em;
  font-weight: 200;
}

/* line 60, ../sass/home.scss */
#services {
  background: #f3f3f3;
  padding-top: 6em;
  padding-bottom: 7em;
  border-top: 1px solid #ddd;
  overflow: hidden;
  *zoom: 1;
}
/* line 67, ../sass/home.scss */
#services dl {
  width: 28%;
  margin: 0 2.5%;
  float: left;
  padding-top: 5.5em;
  text-align: center;
}
/* line 74, ../sass/home.scss */
#services dl dt {
  font-weight: 400;
  margin-bottom: 1em;
}
/* line 79, ../sass/home.scss */
#services dl dd {
  line-height: 1.4em;
  font-size: 1em;
  font-weight: 200;
}
/* line 86, ../sass/home.scss */
#services .development {
  background: url("../assets/images/home/development.png") no-repeat center 10px;
}
/* line 90, ../sass/home.scss */
#services .support {
  background: url("../assets/images/home/support.png") no-repeat center 12px;
}
/* line 94, ../sass/home.scss */
#services .customization {
  background: url("../assets/images/home/customization.png") no-repeat top center;
}

/* line 99, ../sass/home.scss */
#contact {
  background: #76bee4;
  padding-top: 6em;
  padding-bottom: 5em;
  overflow: hidden;
  *zoom: 1;
}
/* line 105, ../sass/home.scss */
#contact .contact-text {
  float: right;
  width: 38.75%;
  color: #fff;
}
/* line 110, ../sass/home.scss */
#contact .contact-text p {
  line-height: 1.4em;
  font-size: 1.1em;
  font-weight: 200;
}
/* line 117, ../sass/home.scss */
#contact form {
  width: 45%;
}
/* line 120, ../sass/home.scss */
#contact form input, #contact form textarea {
  width: 100%;
  border: none;
  margin-bottom: 1em;
  padding: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: .8em;
  font-weight: 100;
}
/* line 130, ../sass/home.scss */
#contact form textarea {
  height: 8em;
  resize: none;
}
/* line 135, ../sass/home.scss */
#contact form input[type="submit"] {
  background: #edb665;
  text-transform: uppercase;
  padding: .5em;
  width: 200px;
  font-size: 1em;
}

@media screen and (max-width: 1200px) {
  /* line 148, ../sass/home.scss */
  #about .about-text {
    float: none;
    width: 100%;
    text-align: center;
  }
  /* line 154, ../sass/home.scss */
  #about .about-bios {
    margin-top: 2em;
    float: none;
    width: 100%;
  }
  /* line 159, ../sass/home.scss */
  #about .about-bios dl {
    width: 50%;
    text-align: center;
    float: left;
  }
  /* line 164, ../sass/home.scss */
  #about .about-bios dl img {
    margin: 0 0 1em;
    float: none;
  }
}
@media screen and (max-width: 800px) {
  /* line 176, ../sass/home.scss */
  #intro {
    font-size: 2.5em;
  }

  /* line 181, ../sass/home.scss */
  #services dl {
    width: 100%;
    float: none;
  }
  /* line 185, ../sass/home.scss */
  #services dl + dl {
    margin-top: 4em;
  }

  /* line 192, ../sass/home.scss */
  #contact form {
    width: 100%;
  }
  /* line 196, ../sass/home.scss */
  #contact .contact-text {
    float: none;
    width: 100%;
    margin-bottom: 4em;
  }
}
@media screen and (max-width: 600px) {
  /* line 207, ../sass/home.scss */
  #intro {
    font-size: 2em;
  }

  /* line 213, ../sass/home.scss */
  #about .about-bios dl {
    float: none;
    width: 100%;
    margin: 0 0 2em;
  }
}
