.page-title{
	text-indent: -9999em;
	background: url('../assets/images/logo-stacked.png') no-repeat center center;
	margin: 0 auto 2em;
	width: 200px;
	height: 100px;
}

.section-header{
	margin-bottom: 2em;
	font-size: 2em;
	font-weight: 600;
	color: #fff;
	opacity: .5;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	
}

footer{ 
	padding: 2em 12.5%;
	background: #666;
	
	dl{
		@include clearfix;
	
		dt{
			float: left;
			font-family: "proxima-nova";
			color: #fff;
			font-weight: 100;
			padding-top: 10px;
		}
		dd{
			float: right;
			background: #ccc;
			width: 30px;
			height: 30px;
			margin-left: 10px;
			text-indent: -9999em;
			display: inline-block;
			background: url('../assets/images/social-sprite.png') no-repeat 0 0;
			
			&.facebook{ background-position: -30px 0; }
			&.skype{ background-position: -60px 0; }
		}
	}
}

section {
  	padding: 2em 15%;
	font-family: 'proxima-nova', helvetica, arial;
	font-size: 1.2em;
}

.access{
	display: none;
}
