#intro{
	background: url('../assets/images/raleigh-orange.jpg') no-repeat center;
	background-size: cover;
	font-size: 3em;
	line-height: 1.4em;
	border-bottom: 1px solid #ddd;
	font-weight: 300;
	position: relative;
}

#about{
	padding-top: 6em;
	padding-bottom: 6em;
	@include clearfix;
	background: url('http://subtlepatterns.com/patterns/subtle_dots.png') repeat 0 0;

	.about-text{
		line-height: 1.4em;
		font-size: 1.2em;
		font-weight: 300;
		margin: 0 auto;

		p + p{
			margin-top: 2em;
		}
	}
}

#bios{
	padding: 0;

	dl{
		padding: 15% 0;
		float: left;
		width: 50%;
		border-top: 10px solid #333;
		border-bottom: 10px solid #333;



		&.rucker{
			background: url('../assets/images/rucker-large.jpg') no-repeat 0 0;
			background-size: cover;
			position: relative;
			&:before{
				content: '';
				display: block;
				height: 100%;
				width: 10px;
				position: absolute;
				left: -5px;
				top: 0;
				background: #333;
			}
		}

		&.mobley{ background: url('../assets/images/mobley-large.jpg') no-repeat 0 0; background-size: cover;}

		img{
			width: 33%;
			margin-right: 5%;
			float: left;
			margin-top: -1em;
		}

		dt{
			font-weight: 400;
		}

		dt, dd{
			margin-left: 65%;
			color: #fff;
		}

		.job-title{
			color: #ddd;
			font-weight: 100;
			margin-top: .5em;
			margin-bottom: .5em;
			font-size: .8em;
		}

		.skill{
			font-size: .8em;
			line-height: 1.4em;
			font-weight: 200;
			color: #aaa;
		}
	}
}



#services{
	background: url(http://subtlepatterns.com/patterns/linen.png);
	padding-top: 6em;
	padding-bottom: 7em;
	border-top: 1px solid #ddd;
	@include clearfix;

	dl{
		width: 28%;
		margin: 0 2.5%;
		float: left;
		text-align: center;

        .icon{
            display:block;
        }

        .icon svg{
            display: block;
            width: 33%;
            min-width: 65px;
            margin: 0 auto;
            fill: #333;
        }

        .icon{
            margin-bottom: 2em;
        }

		dt{
			font-weight: 400;
			margin-bottom: 1em;
		}

		dd{
			line-height: 1.4em;
			font-size: 1em;
			font-weight: 300;
		}
	}

}

#contact{
	background: #76bee4;
	padding-top: 6em;
	padding-bottom: 5em;
	@include clearfix;

	.section-header{
		text-align: left;

		&:after{
			background: #ddd;
			margin: .5em 0;
			width: 250px;
		}
	}

	.contact-text{
		float: right;
		width: 38.75%;
		color: #fff;

		p{
			line-height: 1.4em;
			font-weight: 300;
		}
	}

	form{
		width: 45%;

		input, textarea{
			width: 100%;
			border: none;
			margin-bottom: 1em;
			padding: 1em;
			@include box-sizing(border-box);
			font-size: .75em;
			font-weight: 100;
			margin-top: 1em;
			margin-bottom: 1.5em;
			font-family: "proxima-nova";
		}

		label{
			color: #fff;
			font-weight: 100;
		}

		textarea{
			height: 8em;
			resize: none;
		}

		input[type="submit"]{
			background: #4098c6;
			color: #fff;
			text-transform: uppercase;
			padding: .5em;
			width: 200px;
			font-weight: 100;
			letter-spacing: 3px;
			font-size: 1em;
			@include transition(all .5s);
			cursor: pointer;

			&:hover{
				color: #edb665;
				background: lighten(#4098c6, 3%);
			}
		}
	}

	.screen-reader-response{
		visibility: hidden;
		height: 0;
	}

	[role="alert"]{
		font-size: .9em;
		margin-bottom: 1em;
		display: block;
		line-height: 1.4em;
		color: darken(#4098c6, 15%);
	}
}

@media screen and (max-width: 1200px){

	#about{
		.about-text{
			float: none;
			width: 100%;
			text-align: center;
		}

		.about-bios{
			margin-top: 2em;
			float: none;
			width: 100%;

			dl{
				width: 50%;
				text-align: center;
				float: left;

				img{
					margin: 0 0 1em;
					float: none;
				}
			}
		}
	}

}

@media screen and (max-width: 800px){

	#intro{
		font-size: 2.5em;
	}

	#services{
		dl{
			width: 100%;
			float: none;

			&+dl{
				margin-top: 4em;
			}
		}
	}

	#contact{
		form{
			width: 100%;
		}

		.contact-text{
			float: none;
			width: 100%;
			margin-bottom: 4em;
		}
	}

}

@media screen and (max-width: 600px){

	#intro{
		font-size: 2em;
	}

	#about{
		.about-bios{
			dl{
				float: none;
				width: 100%;
				margin: 0 0 2em;
			}
		}
	}

}

