$orange: #edb664;
$blue: #76bee4;


#intro{
	background: $blue url('../assets/images/home/yosemite_banner.jpg') no-repeat center center;
	background-size: cover;	
	font-size: 3em;
	line-height: 1.4em;
	color: #fff;
	font-weight: 100;
	position: relative;
	text-align: center;
}

#about{
	padding-top: 5em;
	padding-bottom: 6em;
	border-top: 5px solid #666;
	background: url('http://subtlepatterns.com/patterns/subtle_dots.png') repeat 0 0;
	@include clearfix;
	
	.section-header{
		color: #aaa;
	}
	
	.about-text{
		line-height: 1.6em;
		font-size: 2em;
		font-weight: 300;
		margin: 0 auto;
		letter-spacing: 1px;

		p + p{
			margin-top: 2em;
		}
	}
}


#services{
	background: $orange;
	padding-top: 5em;
	padding-bottom: 7em;
	border-top: 5px solid #666;
	border-bottom: 5px solid #666;
	@include clearfix;
	
	dl{
		width: 28%;
		margin: 0 2.5%;
		float: left;
		text-align: center;

        .icon{
            display:block;
        }

        .icon svg{
            display: block;
            width: 33%;
            margin: 0 auto;
            fill: #fff;
			opacity: .5;
        }

        .icon{
            margin-bottom: 2em;
        }

		dt{
			font-weight: 800;
			margin-bottom: 1em;
			letter-spacing: 2px;
		}

		dd{
			line-height: 1.4em;
			font-size: 1em;
			font-weight: 300;
		}
	}
}

#contact{
	background: $blue;
	padding-top: 5em;
	padding-bottom: 5em;
	@include clearfix;

	.contact-text{
		color: #fff;
		text-align: center;
		
		p{
			line-height: 1.6em;
			font-weight: 200;
			font-size: 2em;
			letter-spacing: 1px;
		}
	}
	
	a{
		padding: 1em;
		font-size: 2em;
		color: #fff;
		text-decoration: none;
		padding: 1em;
		display: inline-block;
		margin-bottom: 2em;
		border: 1px solid #fff;
		font-weight: 100;
		letter-spacing: 3px;
		@include transition(.5s all);
		@include border-radius(10px);
		
		&:hover{
			color: $blue;
			background: #fff;
		}
	}
}

#bios{
	padding: 0;
	background: $blue;
	overflow: hidden;
	margin-top: 2em;
	@include clearfix;
	
	div{
		width: 40%;
		margin-right: 10%;
		float: left;
		
		img{
			float: left;
			margin-right: 1em;
			vertical-align: middle;
			max-width: 250px;
			width: 45%;
			z-index: 2;
			position: relative;
		}
		
		dl{
			text-align: left;
			font-size: .8em;
			background: rgba(255, 255, 255, 0.25);
			padding: 10%;
			position: relative;
			margin-top: 8%;
			letter-spacing: 1px;
			border-radius: 100px 10px 10px 100px;
			
			dt{
				color: #fff;
				font-weight:400;
			}
			
			dd{
				font-weight: 100;
				margin-top: .25em;
				color: #666;
			}
		}
	}


}

@media screen and (max-width: 1400px){
	#about .about-text, #contact .contact-text p, #contact a{
		font-size: 1.4em;
	}
}

@media screen and (max-width: 1300px){
	#bios div dl dd{ font-size: .8em; }
}


@media screen and (max-width: 1200px){

	#about{
		.about-text{
			float: none;
			width: 100%;
			text-align: center;
		}

		.about-bios{
			margin-top: 2em;
			float: none;
			width: 100%;

			dl{
				width: 50%;
				text-align: center;
				float: left;

				img{
					margin: 0 0 1em;
					float: none;
				}
			}
		}
	}

}

@media screen and (max-width: 1100px){
	
	#bios div{
		
		img{ max-width: 150px; }
		
		
		dl{
			background: none;
			padding: 5% 0 0 155px;
		}
	}
}

@media screen and (max-width: 980px){
	#bios div{
		img{ max-width: 75px; }
		
		dl{
			padding: 0 0 0 85px; 
		}
	} 
	
}

@media screen and (max-width: 800px){

	#intro{
		font-size: 2.5em;
	}

	#about .about-text{
		font-size: 1.2em;
	}

	#services{
		dl{
			width: 100%;
			float: none;

			&+dl{
				margin-top: 4em;
			}
		}
	}

	#contact{
		form{
			width: 100%;
		}

		.contact-text p{ 
			float: none;
			width: 100%;
			font-size: 1.2em;
		}
	}

}

@media screen and (max-width: 768px){
	#bios div{
		width: 100%;
		clear: both;
		float: none;
		
		img{ 
			display: none;
		}
		
		dl{
			padding: 0;
			font-size: 1.2em;
			text-align: center;
			
			dt{
				font-weight: 100;
			}
			
			dd{
				font-size: .7em;
				margin-top: .5em;
				opacity: .7;
			}
		}
	}
}

@media screen and (max-width: 600px){

	#intro{
		font-size: 1.6em;
	}
	
	#contact a{
		font-size: 1em;
	}

}

@media screen and (max-width: 480px){
	
	#about .about-text{
		font-size: .8em;
	}
	
	#contact{
		.contact-text{
			font-size: .8em;
		}
	 	a{
			font-size: .8em;
		}
	}
}

