.page-title{
	text-indent: -9999em;
	background: url('../assets/images/logo-stacked.png') no-repeat center center;
	margin: 2em auto;
	width: 200px;
	height: 100px;
}

footer{ 
	padding: 2em 12.5%;
	dl{
		@include clearfix;
	
		dt{
			text-indent: -9999em;
			background: url('../assets/images/logo-stacked-small.png') no-repeat center center;
			text-align: center;
			height: 50px;
			width: 79px;
			float: left;
		}
		dd{
			float: right;
			background: #ccc;
			width: 30px;
			height: 30px;
			margin-left: 10px;
			margin-top: 10px;
			text-indent: -9999em;
			display: inline-block;
		}
	}
}

section {
  	padding: 2em 12.5%;
	font-family: 'proxima-nova', helvetica, arial;
	font-size: 1.2em;
}

.access{
	display: none;
}
